.btn
    display: inline-block
    padding: 25px 67px
    color: $mainColor
    background: $btnBG
    border: none
    cursor: pointer

.title
    margin: 0
    font-weight: 400
    font-size: 40px
    line-height: 50px
    text-transform: uppercase
    color: $mainColor

//* Header
.header
    &--bg
        width: 100%
        height: 715px
        background: url(/img/main-banner.jpg) no-repeat
        background-size: cover
        margin-bottom: 65px
    &__content
        max-width: 535px
    &__title
        font-weight: 400
        font-size: 50px
        line-height: 62px
        margin: 60px 0 24px
    &__text
        max-width: 450px
        font-weight: 400
        font-size: 18px
        line-height: 30px
        margin: 0 0 21px

.header-nav
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 31px 0
    &__logo
        display: flex
        align-items: center
    &__list
        display: flex
        align-items: center
        list-style: none
        margin: 0
    &__item
        margin-left: 26px

//* About
.about
    &__title
        text-align: center
        margin-bottom: 45px
    &__wrapper
        display: flex
        align-item: center
        justify-content: flex-start
        margin-bottom: 21px
    &__image
        width: 445px
        margin-right: 63px
    &__inner
        max-width: 528px
    &__text
        margin: 0
        font-size: 18px
        line-height: 30px
        &:first-child
            margin-bottom: 52px
    

.experience
    &--bg
        background: $secondBG
        padding: 85px 0 81px
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr 1fr
    &__content
        justify-self: center
    &__text
        text-align: center
        display: block
        color: $white
        &--big
            font-size: 50px
            line-height: 62px
        &--small
            font-size: 30px
            line-height: 37px




